<html>
    <head>
        <title> Buy Page </title>
        <style>
            body {
                background-color: #E1FAF7;
            }
            nav {
                background-color: black;
            }
            nav a {
                display: inline-block;
                padding: 14px 20px;
                color: aliceblue;
                text-decoration: none;
            }
            nav a:hover {
                background-color: brown;
                color: aliceblue;
            }
            button {
                background-color: black;
                color: aliceblue;
            }
            button:hover {
                background-color: rgb(46, 43, 43);
            }
            .box {
            background-color: whitesmoke;
            margin: 10px;
            margin-top: 5px;
            padding: 20px;
            border-radius: 10px;
            display: inline-block;
            }
            img {
                height: 200px;
            }
        </style>
    </head>
    <body id="home">
        <!--<nav>
            <a href="/templates/index7.html"> HOME </a>
            <a href="#home"> BUY </a> 
            THE ABOVE LINE ISN'T FUNCTIONING AS I WANT IT TO.
            IGNORE ABOVE COMMENT. IT SEEMS TO BE WORKING FINE.
            <a href="ordersCustomer.html"> ORDERS </a>
            <a href="/templates/index.html" style="background-color: beige;color: black;"> LOGOUT </a>
        </nav>-->
        <nav>
            <a href="{{ url_for('customer_home') }}"> HOME </a>
            <a href="/buy"> BUY </a>
            <a href="{{ url_for('orders_customer') }}"> ORDERS </a>
            <a href="{{ url_for('index') }}"> LOGOUT </a>
        </nav>
        
        <div class="box">
            <form action="/buy" method="POST"> <!-- GPT -->
                <center> 
                    <!--<img src="pills.jpg">-->
                    <img src="{{ url_for('static', filename='pills.jpg') }}" alt="Image">
                </center>
                <center> <b> Aspirin </b> </center>
                <br>
                
                <!-- all type=hidden from GPT -->
                <input type="hidden" name="medicine_id" value="M001">
                <input type="hidden" name="medicine_name" value="Aspirin">
                <input type="hidden" name="manufacturer" value="Some Manufacturer Name">
                <input type="hidden" name="mfg_date" value="2025-03-15">
                <input type="hidden" name="stock" value="100">

                <input type="number" name='quantity' placeholder="Enter Quantity" min="1" required>
                <!-- But why required? GPT. -->
                <button type="submit"> Buy </button>
            </form>
        </div>

        <div class="box">
            <form action="/buy" method="POST"> <!-- GPT -->
                <center> 
                    <!--<img src="pills.jpg">-->
                    <img src="{{ url_for('static', filename='pills.jpg') }}" alt="Image">
                </center>
                <center> <b> Dolo650 </b> </center>
                <br>
                <!-- all type=hidden from GPT -->
                <input type="hidden" name="medicine_id" value="M002">
                <input type="hidden" name="medicine_name" value="Dolo650">
                <input type="hidden" name="manufacturer" value="Some Manufacturer Name">
                <input type="hidden" name="mfg_date" value="2025-01-17">
                <input type="hidden" name="stock" value="100">

                <input type="number" name='quantity' placeholder="Enter Quantity" min="1" required>
                <!-- But why required? GPT. -->
                <button type="submit"> Buy </button>
            </form>
        </div>

        <div class="box">
            <form action="/buy" method="POST"> <!-- GPT -->
                <center> 
                    <!--<img src="pills.jpg">-->
                    <img src="{{ url_for('static', filename='pills.jpg') }}" alt="Image">
                </center>
                <center> <b> Crocin </b> </center>
                <br>
                <!-- all type=hidden from GPT -->
                <input type="hidden" name="medicine_id" value="M003">
                <input type="hidden" name="medicine_name" value="Crocin">
                <input type="hidden" name="manufacturer" value="Some Manufacturer Name">
                <input type="hidden" name="mfg_date" value="2025-01-17">
                <input type="hidden" name="stock" value="100">

                <input type="number" name='quantity' placeholder="Enter Quantity" min="1" required>
                <!-- But why required? GPT. -->
                <button type="submit"> Buy </button>
            </form>
        </div>

        <div class="box">
            <form action="/buy" method="POST"> <!-- GPT -->
                <center> 
                    <!--<img src="pills.jpg">-->
                    <img src="{{ url_for('static', filename='pills.jpg') }}" alt="Image">
                </center>
                <center> <b> Rantac </b> </center>
                <br>
                <!-- all type=hidden from GPT -->
                <input type="hidden" name="medicine_id" value="M004">
                <input type="hidden" name="medicine_name" value="Rantac">
                <input type="hidden" name="manufacturer" value="Some Manufacturer Name">
                <input type="hidden" name="mfg_date" value="2025-01-17">
                <input type="hidden" name="stock" value="100">

                <input type="number" name='quantity' placeholder="Enter Quantity" min="1" required>
                <!-- But why required? GPT. -->
                <button type="submit"> Buy </button>
            </form>
        </div>

        <div class="box">
            <form action="/buy" method="POST"> <!-- GPT -->
                <center> 
                    <!--<img src="pills.jpg">-->
                    <img src="{{ url_for('static', filename='pills.jpg') }}" alt="Image">
                </center>
                <center> <b> Zotac </b> </center>
                <br>
                <!-- all type=hidden from GPT -->
                <input type="hidden" name="medicine_id" value="M005">
                <input type="hidden" name="medicine_name" value="Zotac">
                <input type="hidden" name="manufacturer" value="Some Manufacturer Name">
                <input type="hidden" name="mfg_date" value="2025-01-17">
                <input type="hidden" name="stock" value="100">

                <input type="number" name='quantity' placeholder="Enter Quantity" min="1" required>
                <!-- But why required? GPT. -->
                <button type="submit"> Buy </button>
            </form>
        </div>

        <div class="box">
            <form action="/buy" method="POST"> <!-- GPT -->
                <center> 
                    <!--<img src="pills.jpg">-->
                    <img src="{{ url_for('static', filename='pills.jpg') }}" alt="Image">
                </center>
                <center> <b> Paracetamol </b> </center>
                <br>
                <!-- all type=hidden from GPT -->
                <input type="hidden" name="medicine_id" value="M006">
                <input type="hidden" name="medicine_name" value="Paracetamol">
                <input type="hidden" name="manufacturer" value="Some Manufacturer Name">
                <input type="hidden" name="mfg_date" value="2025-01-17">
                <input type="hidden" name="stock" value="100">

                <input type="number" name='quantity' placeholder="Enter Quantity" min="1" required>
                <!-- But why required? GPT. -->
                <button type="submit"> Buy </button>
            </form>
        </div>

        <div class="box">
            <form action="/buy" method="POST"> <!-- GPT -->
                <center> 
                    <!--<img src="pills.jpg">-->
                    <img src="{{ url_for('static', filename='pills.jpg') }}" alt="Image">
                </center>
                <center> <b> Omeprazole </b> </center>
                <br>
                <!-- all type=hidden from GPT -->
                <input type="hidden" name="medicine_id" value="M007">
                <input type="hidden" name="medicine_name" value="Omeprazole">
                <input type="hidden" name="manufacturer" value="Some Manufacturer Name">
                <input type="hidden" name="mfg_date" value="2025-01-17">
                <input type="hidden" name="stock" value="100">

                <input type="number" name='quantity' placeholder="Enter Quantity" min="1" required>
                <!-- But why required? GPT. -->
                <button type="submit"> Buy </button>
            </form>
        </div>

        <div class="box">
            <form action="/buy" method="POST"> <!-- GPT -->
                <center> 
                    <!--<img src="pills.jpg">-->
                    <img src="{{ url_for('static', filename='pills.jpg') }}" alt="Image">
                </center>
                <center> <b> Metformin </b> </center>
                <br>
                <!-- all type=hidden from GPT -->
                <input type="hidden" name="medicine_id" value="M008">
                <input type="hidden" name="medicine_name" value="Mwtformin">
                <input type="hidden" name="manufacturer" value="Some Manufacturer Name">
                <input type="hidden" name="mfg_date" value="2025-01-17">
                <input type="hidden" name="stock" value="100">

                <input type="number" name='quantity' placeholder="Enter Quantity" min="1" required>
                <!-- But why required? GPT. -->
                <button type="submit"> Buy </button>
            </form>
        </div>

        <div class="box">
            <form action="/buy" method="POST">
                <center>
                    <img src="{{ url_for('static', filename='pills.jpg') }}" alt="Image">
                </center>
                <center> <b> Ibuprofen </b> </center>
                <br>
                <input type="hidden" name="medicine_id" value="M009">
                <input type="hidden" name="medicine_name" value="Ibuprofen">
                <input type="hidden" name="manufacturer" value="Some Manufacturer Name">
                <input type="hidden" name="mfg_date" value="2025-01-17">
                <input type="hidden" name="stock" value="100">
                <input type="number" name='quantity' placeholder="Enter Quantity" min="1" required>
                <button type="submit"> Buy </button>
            </form>
        </div>
        
        <div class="box">
            <form action="/buy" method="POST">
                <center>
                    <img src="{{ url_for('static', filename='pills.jpg') }}" alt="Image">
                </center>
                <center> <b> Cetirizine </b> </center>
                <br>
                <input type="hidden" name="medicine_id" value="M010">
                <input type="hidden" name="medicine_name" value="Cetirizine">
                <input type="hidden" name="manufacturer" value="Some Manufacturer Name">
                <input type="hidden" name="mfg_date" value="2025-01-17">
                <input type="hidden" name="stock" value="100">
                <input type="number" name='quantity' placeholder="Enter Quantity" min="1" required>
                <button type="submit"> Buy </button>
            </form>
        </div>
        
        <div class="box">
            <form action="/buy" method="POST">
                <center>
                    <img src="{{ url_for('static', filename='pills.jpg') }}" alt="Image">
                </center>
                <center> <b> Amoxicillin </b> </center>
                <br>
                <input type="hidden" name="medicine_id" value="M011">
                <input type="hidden" name="medicine_name" value="Amoxicillin">
                <input type="hidden" name="manufacturer" value="Some Manufacturer Name">
                <input type="hidden" name="mfg_date" value="2025-01-17">
                <input type="hidden" name="stock" value="100">
                <input type="number" name='quantity' placeholder="Enter Quantity" min="1" required>
                <button type="submit"> Buy </button>
            </form>
        </div>
        
        <div class="box">
            <form action="/buy" method="POST">
                <center>
                    <img src="{{ url_for('static', filename='pills.jpg') }}" alt="Image">
                </center>
                <center> <b> Azithromycin </b> </center>
                <br>
                <input type="hidden" name="medicine_id" value="M012">
                <input type="hidden" name="medicine_name" value="Azithromycin">
                <input type="hidden" name="manufacturer" value="Some Manufacturer Name">
                <input type="hidden" name="mfg_date" value="2025-01-17">
                <input type="hidden" name="stock" value="100">
                <input type="number" name='quantity' placeholder="Enter Quantity" min="1" required>
                <button type="submit"> Buy </button>
            </form>
        </div>
        
        <div class="box">
            <form action="/buy" method="POST">
                <center>
                    <img src="{{ url_for('static', filename='pills.jpg') }}" alt="Image">
                </center>
                <center> <b> Ciprofloxacin </b> </center>
                <br>
                <input type="hidden" name="medicine_id" value="M013">
                <input type="hidden" name="medicine_name" value="Ciprofloxacin">
                <input type="hidden" name="manufacturer" value="Some Manufacturer Name">
                <input type="hidden" name="mfg_date" value="2025-01-17">
                <input type="hidden" name="stock" value="100">
                <input type="number" name='quantity' placeholder="Enter Quantity" min="1" required>
                <button type="submit"> Buy </button>
            </form>
        </div>
        
        <div class="box">
            <form action="/buy" method="POST">
                <center>
                    <img src="{{ url_for('static', filename='pills.jpg') }}" alt="Image">
                </center>
                <center> <b> Pantoprazole </b> </center>
                <br>
                <input type="hidden" name="medicine_id" value="M014">
                <input type="hidden" name="medicine_name" value="Pantoprazole">
                <input type="hidden" name="manufacturer" value="Some Manufacturer Name">
                <input type="hidden" name="mfg_date" value="2025-01-17">
                <input type="hidden" name="stock" value="100">
                <input type="number" name='quantity' placeholder="Enter Quantity" min="1" required>
                <button type="submit"> Buy </button>
            </form>
        </div>
        
        <div class="box">
            <form action="/buy" method="POST">
                <center>
                    <img src="{{ url_for('static', filename='pills.jpg') }}" alt="Image">
                </center>
                <center> <b> Levocetirizine </b> </center>
                <br>
                <input type="hidden" name="medicine_id" value="M015">
                <input type="hidden" name="medicine_name" value="Levocetirizine">
                <input type="hidden" name="manufacturer" value="Some Manufacturer Name">
                <input type="hidden" name="mfg_date" value="2025-01-17">
                <input type="hidden" name="stock" value="100">
                <input type="number" name='quantity' placeholder="Enter Quantity" min="1" required>
                <button type="submit"> Buy </button>
            </form>
        </div>
        
        <div class="box">
            <form action="/buy" method="POST">
                <center>
                    <img src="{{ url_for('static', filename='pills.jpg') }}" alt="Image">
                </center>
                <center> <b> Diclofenac </b> </center>
                <br>
                <input type="hidden" name="medicine_id" value="M016">
                <input type="hidden" name="medicine_name" value="Diclofenac">
                <input type="hidden" name="manufacturer" value="Some Manufacturer Name">
                <input type="hidden" name="mfg_date" value="2025-01-17">
                <input type="hidden" name="stock" value="100">
                <input type="number" name='quantity' placeholder="Enter Quantity" min="1" required>
                <button type="submit"> Buy </button>
            </form>
        </div>
        
    </body>
</html>